/*
    ##Imports
 */

 @import url(http://weloveiconfonts.com/api/?family=zocial);

 /* zocial */
 [class*="zocial-"]:before {
   font-family: 'zocial', sans-serif;
 }

/**
 *     ##Footer
 */

 .verticalAlign{
     vertical-align: middle;
 }
 .footer-principal {
     background: #455A64;
    //  position: absolute;
     width: 100%;
     padding: 1rem;
     margin: 0;
     color: #f2f2f2;
     font-weight: lighter;

     h5,h6{
         padding: .4rem 0;
         margin: 0;
         font-weight: 300;
     }
     h5{
        color: #e3e5fb;
        font-weight: 400;

     }
     a{
         color: #f2f2f2;

     }
     a:hover{
         font-weight: 400;
     }

 }


.menu-secundario{
    margin: 0;

}


.social-network-menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin: 0;
    vertical-align: middle;

    a{
        color: white;
    }
    
    a:hover{
        color: whitesmoke;
    }
}
