.banner-container{
    background: url('./banner.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-clip: content-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-item{

    .banner-title,.banner-subtitle{
        color: white ;
        font-weight: 300;
    }
}