.promo-section {
  background: rgba(255, 255, 255, 0.67); }

.promo-container {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .promo-container {
      flex-direction: column; } }

.promo-item--icon {
  font-size: 8rem !important; }

.promo-item {
  padding: 1rem;
  margin: 1rem 0;
  vertical-align: middle; }

.promo-item__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.71); }
